/* body{
    background-image:url("https://th.bing.com/th?q=Baby+Background+HD&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247z");
    background-posistion:left top ;
} */
/* body{
    background-color: aquamarine;
}
ul li{
    display:inline-block;
 margin:10px;
}
.sa{
    width: 1200px;
    font-weight: bold;
}
.container{
    margin-top:200px;
}
h1,p{
    text-align: center;
}
button{
    margin-left: 850px;
    background-color: aqua;
} */
/* body{background-color:palevioletred;   
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}
.id{
    border-radius: 50%;
} */
